/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #00aaff; /* lightBlue */
}

.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.menu-option {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0077aa;
}

.game-board {
  margin-top: 50px;
}


/* App.css */
.color-button {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.color-button.active {
  opacity: 1;
}

.color-button.red {
  background-color: red;
}

.color-button.blue {
  background-color: blue;
}

.color-button.green {
  background-color: green;
}

.color-button.yellow {
  background-color: yellow;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
}

.game-board h2, .game-board h3 {
  font-size: 24px;
  color: #00aaff;
  margin-bottom: 10px;
}

/* App.css */

/* App.css */

/* Estilos para el tema celeste */
.theme-celeste .color-button.red {
  background-color: #ff4d4d; /* Rojo claro */
}

.theme-celeste .color-button.blue {
  background-color: #4d88ff; /* Azul claro */
}

.theme-celeste .color-button.green {
  background-color: #4dff4d; /* Verde claro */
}

.theme-celeste .color-button.yellow {
  background-color: #ffff4d; /* Amarillo claro */
}

/* Estilos para el tema rojo */
.theme-rojo .color-button.red {
  background-color: #ff0000; /* Rojo */
}

.theme-rojo .color-button.blue {
  background-color: #0000ff; /* Azul */
}

.theme-rojo .color-button.green {
  background-color: #00ff00; /* Verde */
}

.theme-rojo .color-button.yellow {
  background-color: #ffff00; /* Amarillo */
}

/* Estilos para el tema azul */
.theme-azul .color-button.red {
  background-color: #cc0000; /* Rojo oscuro */
}

.theme-azul .color-button.blue {
  background-color: #0000cc; /* Azul oscuro */
}

.theme-azul .color-button.green {
  background-color: #009900; /* Verde oscuro */
}

.theme-azul .color-button.yellow {
  background-color: #cccc00; /* Amarillo oscuro */
}
